
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

#main-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

form {
    margin-bottom: 20px;
}

/* Resto do seu código CSS */

label {
    display: inline-block;
    width: 12px; /* Ajuste este valor conforme necessário */
    font-weight: bold;
    margin-bottom: 5px;
}

/* Resto do seu código CSS */


input[type="text"],
input[type="email"],
input[type="password"],
input[type="telefone"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error-validation {
    color: red;
    margin-bottom: 10px;
}


