{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="mb-4">Lista de Usuários</h4>
            <a class="btn btn-success mb-3" href="{% url 'autor_add' %}">Adicionar Usuário</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Email</th>
                            <th>Cpf</th>
                            <th>Matrícula</th>
                            <th>Curso</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for autor in autores %}
                       <tr>
                            <td>{{ autor.Nome }}</td>
                            <td>{{ autor.Telefone }}</td>
                            <td>{{ autor.Email }}</td>
                            <td>{{ autor.Cpf }}</td>
                            <td>{{ autor.Matricula }}</td>
                            <td>{{ autor.Curso }}</td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="{% url 'autor_edit' autor.id %}"
                                   onclick="return confirm('Tem certeza que deseja editar?')">Editar</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'autor_delete' autor.id %}"
                                   onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
